

.main-container {
	height:100vh;
}

.search-container {
	background: #FFFFFF;
	height: 20vh;
	display: flex;
	align-items:center;
	justify-content:space-between;
	overflow:hidden;
}

input {
	width: 35%;
	margin-right: 50px;
	height: 3vh;
	border: none;
	border: 1px solid black;
	font-size: 1.5em;
	color: #555555;
	padding:3px;
}
input:focus{
	outline: none;
}

table {
	color:#222222;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #999999;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #DEDEDE;
}

tr a {
	text-decoration:none;
	color:inherit;
}